<nav class="navbar">
    <div class="navbar-container">
        <div>
            <div class="navbar-logo">
                <a href="{{ url_for('home') }}" class="logo-link">
                    <img src="{{ url_for('static', filename='assets/img/Loghi/logo.png') }}" alt="Logo">
                </a>
            </div>

            <ul class="navbar-menu">
                <li class="navbar-item">
                    <a href="{{ url_for('home') }}" class="navbar-link">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('chi_siamo') }}" class="navbar-link">Chi Siamo</a>
                </li>
                <li class="navbar-item">
                    <a href="{{ url_for('collezioni') }}" class="navbar-link">Collezioni</a>
                </li>
            </ul>
        </div>
    </div>
</nav>